<div ng-controller="usersController">
	<h1>Hello there! LoginReg :)</h1>
	<br>
	<p>{{ reg_errors.errors.password_con.message }}</p>
	<p>{{ reg_errors.errors.password.message }}</p>
	<p>{{ reg_errors.errors.email.message }}</p>
	<p>{{ reg_errors.errors.birthday.message }}</p>
	<p>{{ reg_errors.errors.last_name.message }}</p>
	<p>{{ reg_errors.errors.first_name.message }}</p>
	<br>
	<h2>Register</h2>
	<form name="newUser" ng-submit="userReg()">
		<label>Email</label>
		<input type="text" ng-model="newUser.email">
		<label>First Name</label>
		<input type="text" ng-model="newUser.first_name">
		<label>Last Name</label>
		<input type="text" ng-model="newUser.last_name">
		<label>Password</label>
		<input type="password" ng-model="newUser.password">
		<label>Password Confirmation</label>
		<input type="password" ng-model="newUser.password_con">
		<label>Birthday</label>
		<input type="date" ng-model="newUser.birthday">
		<input type="submit" value="Register">
	</form>
	<br>
	{{ login_errors.errors.login_reg.message }}
	<br>
	<h2>Login</h2>
	<form ng-submit="loginReg()">
		<label>Email</label>
		<input type="text" ng-model="possibleUser.email">
		<label>Password</label>
		<input type="password" ng-model="possibleUser.password">
		<input type="submit" value="Login">
	</form>
</div>